
        <div role="dialog" aria-modal="true" aria-labelledby="signup-modal" className="fade modal show" tabIndex="-1"
        style="display: block;">
        <div role="document" className="modal-dialog modal-lg">
            <div className="modal-content">
                <div className="modal-header">
                    <div className="modal-title h4" id="signup-modal">
                        <div className="nav nav-pills" role="tablist">
                            <div className="nav-item"><a href="#" role="tab" data-rb-event-key="login" aria-selected="true"
                                    className="nav-link active">Login</a></div>
                            <div className="nav-item"><a href="#" role="tab" data-rb-event-key="signup" tabIndex="-1"
                                    aria-selected="false" className="nav-link">Sign Up</a></div>
                        </div>
                    </div><button type="button" className="close"><span aria-hidden="true">×</span><span
                            className="sr-only">Close</span></button>
                </div>
                <div className="modal-body">
                    <div className="tab-content">
                        <div role="tabpanel" aria-hidden="false" className="fade tab-pane active show">
                            <form novalidate="" className="">
                                <div className="form-group"><label className="form-label" for="email">Email</label><input
                                        placeholder="Your email" name="email" required="" type="text" className="form-control"
                                        value="" />
                                    <div className="invalid-feedback">Email is required!</div>
                                </div>
                                <div className="form-group"><label className="form-label" for="password">Password</label><input
                                        placeholder="Your password" name="password" required="" type="password"
                                        className="form-control" value="" />
                                    <div className="invalid-feedback">Password is required!</div>
                                </div><button disabled="" type="submit" className="btn btn-success">Submit</button>
                            </form>
                        </div>
                        <div role="tabpanel" aria-hidden="true" className="fade tab-pane">
                            <form novalidate="" className="">
                                <div className="form-group"><label className="form-label" for="username">Username</label><input
                                        placeholder="Your username" name="username" required="" type="text"
                                        className="form-control" value="" />
                                    <div className="invalid-feedback">Username is required!</div>
                                </div>
                                <div className="form-group"><label className="form-label" for="email">Email</label><input
                                        placeholder="Your email address" name="email" required="" type="email"
                                        className="form-control" value="" />
                                    <div className="invalid-feedback">Email is required!</div>
                                </div>
                                <div className="form-group"><label className="form-label" for="password">Password</label><input
                                        placeholder="Your password" name="password" required="" type="password"
                                        className="form-control" value="" />
                                    <div className="invalid-feedback">Password is required!</div>
                                </div><button disabled="" type="submit" className="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>